/BakeryApp/bin/Debug/18-septembre-18 09.16.xml
/BakeryApp/bin/Debug/18-septembre-18 09.19.xml
/BakeryApp/bin/Debug/18-septembre-18 09.22.xml
/BakeryApp/bin/Debug/18-septembre-18 09.23.xml
/BakeryApp/bin/Debug/18-septembre-18 09.30.xml
/BakeryApp/bin/Debug/18-septembre-18 09.36.xml
/BakeryApp/bin/Debug/18-septembre-18 11.43.xml
/BakeryApp/bin/Debug/BakeryApp.exe
/BakeryApp/bin/Debug/BakeryApp.exe.config
/BakeryApp/bin/Debug/BakeryApp.pdb
/BakeryApp/bin/Debug/BakeryApp.vshost.exe
/BakeryApp/bin/Debug/BakeryApp.vshost.exe.config
/BakeryApp/obj/Debug/BakeryApp.CashRegisterView.resources
/BakeryApp/obj/Debug/BakeryApp.csproj.FileListAbsolute.txt
/BakeryApp/obj/Debug/BakeryApp.csproj.GenerateResource.Cache
/BakeryApp/obj/Debug/BakeryApp.csprojResolveAssemblyReference.cache
/BakeryApp/obj/Debug/BakeryApp.exe
/BakeryApp/obj/Debug/BakeryApp.GUI.AfternoonTeaView.resources
/BakeryApp/obj/Debug/BakeryApp.GUI.BreakfastView.resources
/BakeryApp/obj/Debug/BakeryApp.GUI.LunchView.resources
/BakeryApp/obj/Debug/BakeryApp.pdb
/BakeryApp/obj/Debug/BakeryApp.Properties.Resources.resources
/BakeryApp/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/BakeryApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BakeryApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BakeryApp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BakeryApp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/LICENSE.md
/packages/Newtonsoft.Json.11.0.2/Newtonsoft.Json.11.0.2.nupkg
/packages/NUnit.3.10.1/build/NUnit.props
/packages/NUnit.3.10.1/CHANGES.md
/packages/NUnit.3.10.1/lib/net20/nunit.framework.dll
/packages/NUnit.3.10.1/lib/net20/nunit.framework.pdb
/packages/NUnit.3.10.1/lib/net20/nunit.framework.xml
/packages/NUnit.3.10.1/lib/net20/NUnit.System.Linq.dll
/packages/NUnit.3.10.1/lib/net35/nunit.framework.dll
/packages/NUnit.3.10.1/lib/net35/nunit.framework.pdb
/packages/NUnit.3.10.1/lib/net35/nunit.framework.xml
/packages/NUnit.3.10.1/lib/net40/nunit.framework.dll
/packages/NUnit.3.10.1/lib/net40/nunit.framework.pdb
/packages/NUnit.3.10.1/lib/net40/nunit.framework.xml
/packages/NUnit.3.10.1/lib/net45/nunit.framework.dll
/packages/NUnit.3.10.1/lib/net45/nunit.framework.pdb
/packages/NUnit.3.10.1/lib/net45/nunit.framework.xml
/packages/NUnit.3.10.1/lib/netstandard1.6/nunit.framework.dll
/packages/NUnit.3.10.1/lib/netstandard1.6/nunit.framework.pdb
/packages/NUnit.3.10.1/lib/netstandard1.6/nunit.framework.xml
/packages/NUnit.3.10.1/lib/netstandard2.0/nunit.framework.dll
/packages/NUnit.3.10.1/lib/netstandard2.0/nunit.framework.pdb
/packages/NUnit.3.10.1/lib/netstandard2.0/nunit.framework.xml
/packages/NUnit.3.10.1/LICENSE.txt
/packages/NUnit.3.10.1/NOTICES.txt
/packages/NUnit.3.10.1/NUnit.3.10.1.nupkg
/packages/NUnit3TestAdapter.3.10.0/build/net35/Mono.Cecil.dll
/packages/NUnit3TestAdapter.3.10.0/build/net35/nunit.engine.api.dll
/packages/NUnit3TestAdapter.3.10.0/build/net35/nunit.engine.dll
/packages/NUnit3TestAdapter.3.10.0/build/net35/NUnit3.TestAdapter.dll
/packages/NUnit3TestAdapter.3.10.0/build/net35/NUnit3.TestAdapter.pdb
/packages/NUnit3TestAdapter.3.10.0/build/net35/NUnit3TestAdapter.props
/packages/NUnit3TestAdapter.3.10.0/build/netcoreapp1.0/Mono.Cecil.dll
/packages/NUnit3TestAdapter.3.10.0/build/netcoreapp1.0/nunit.engine.netstandard.dll
/packages/NUnit3TestAdapter.3.10.0/build/netcoreapp1.0/NUnit3.TestAdapter.dll
/packages/NUnit3TestAdapter.3.10.0/build/netcoreapp1.0/NUnit3.TestAdapter.pdb
/packages/NUnit3TestAdapter.3.10.0/build/netcoreapp1.0/NUnit3TestAdapter.props
/packages/NUnit3TestAdapter.3.10.0/LICENSE.txt
/packages/NUnit3TestAdapter.3.10.0/NUnit3TestAdapter.3.10.0.nupkg
/BakeryApp/bin/Debug/18-septembre-18 06.15.xml
/BakeryApp/bin/Debug/18-septembre-18 06.22.xml
/BakeryApp/bin/Debug/18-septembre-18 07.10.xml
/BakeryApp/bin/Debug/18-septembre-18 07.46.xml
/BakeryApp/bin/Debug/18-septembre-18 12.09.xml
/BakeryApp/bin/Debug/18-septembre-18 12.13.xml
/BakeryApp/bin/Debug/19-septembre-18 08.26.xml
/.vs/BakeryApp/v15/Server/sqlite3/db.lock
/.vs/BakeryApp/v15/Server/sqlite3/storage.ide
/.vs/BakeryApp/v15/Server/sqlite3/storage.ide-shm
/.vs/BakeryApp/v15/Server/sqlite3/storage.ide-wal
